# Usual temp garbage
*.py[oc]
*~
.*.swp
my*.ini
Thumbs.db
.DS_Store

# Build and data stuff
*.egg-info/
/furaffinity.db
/.xapian
/fakemogile
/build
/data
/dist

# Virtualenv
/.[Pp]ython
/bin/
/lib/
/include/

# Buildout
/.installed.cfg
/cache/
/develop-eggs/
/eggs/
/parts/
# Mysql runtime (under buildout)
/var/
