body { background: #a9bfe2; font-family: Bitstream Vera Sans, Helvetica, Verdana, Arial, sans-serif; font-size: 11px; /* fuck you IE */ }

/* *:hover { outline: 3px solid blue; -moz-outline-radius: 3px; } */

button,
a:link,
a:visited { font-weight: bold; text-decoration: none; }
a:link { color: #2c4387; }
a:visited { color: #424e71; }
a:hover { color: black; }
a:active { color: #2c873a; }

a img { vertical-align: middle; margin-right: 0.25em; }

/* Common classes */
.small { font-size: 0.8em; }

/* Button-like standard links */
button, input[type='submit'], a.button { padding: 0.25em 0.5em; line-height: 16px; vertical-align: middle; white-space: nowrap; }
button img,
a.button img { vertical-align: bottom; }
a.button { display: inline-block; background: url(/images/bits/button-background-color.png) #f8faff center center repeat; border: 1px solid #b3c0e6; -moz-border-radius: 0.5em; -webkit-border-radius: 0.5em; -moz-outline-radius: 0.5em; -webkit-outline-radius: 0.5em; }
a.button:hover { background-image: url(/images/bits/button-background.png); background-color: #a0b0df; border-color: #8c9fd9; }
a.button.admin,
button.admin { background: url(/images/bits/button-background.png) #e4cea9 center center repeat; border-color: #d19875; }
a.button.admin:hover,
button.admin:hover { background-color: #dba852; border-color: #c47a4d; }

/* Bullet-delimited inline list */
ul.inline li { display: inline; }
ul.inline li + li:before { content: ' • '; font-weight: bold; }

/* Forms */
form.inline, form.inline p { display: inline; }

input[type='text'] { margin: 0; padding: 0.125em 0.25em; border: 1px solid #446bb5; background: white; -moz-border-radius: 0.33em; }
button,
input[type='submit'] { margin: 0; line-height: 100%; padding: 0.17em; cursor: pointer; border: 1px solid #446bb5; -moz-border-radius: 0.33em; font-size: 1em; background: url(/images/bits/button-background.png) #a1b1e1 center center repeat; }
button:hover,
input[type='submit']:hover { background-color: #e1a1a1; border-color: #872c2c; }
button:active,
input[type='submit']:active { background-color: #a1e1ab; border-color: #2c873a; }

input.search { padding-left: 24px; background-image: url(/images/icons/textbox-search.png); background-position: 0.25em center; background-repeat: no-repeat; }

/* Columns, source order left to right! */
.columns-left { width: 50%; float: left; }
.columns-right { width: 50%; margin-left: 50%; }
.columns-right:after { content: 'float clear'; display: block; clear: left; height: 0; visibility: hidden; }

.columns32-left { width: 60%; float: left; }
.columns32-right { width: 40%; margin-left: 60%; }
.columns32-right:after { content: 'float clear'; display: block; clear: left; height: 0; visibility: hidden; }

/* Simple box */
.basic-box { padding: 0.5em; overflow: hidden /* contain floats; new float context */; }
.basic-box + .basic-box { margin-top: 2em; }
.basic-box h2 { margin-bottom: 0.28em; font-size: 1.25em; line-height: 24px; border: 1px solid #446bb5; background: url(/images/bits/heading-background.png) #8da2c9 center center repeat-x; vertical-align: bottom; }
.basic-box h2 img { margin-left: 0.25em; vertical-align: middle; }
.basic-box h3 { margin: 0.33em 0; font-size: 1.5em; font-weight: bold; }
.basic-box .timestamp { font-style: italic; }
.basic-box h3 + .timestamp { margin-top: -0.5em; }
.basic-box > p { margin: 0.5em 0; }

/* Standard tables */
table.bare-table,
table.standard-table { width: 100%; }
table.bare-table th,
table.bare-table td,
table.standard-table th,
table.standard-table td { padding: 0.1em 0.33em; vertical-align: middle; }
col.status-icon { width: 16px; }
col.time { width: 12em; }
col.user { width: 12em; }
col.subject { width: auto; }

/* Row of tabs */
.tab-bar { overflow: auto /* float wrapping */; }
.tab-bar li { float: left; }
.tab-bar li a { display: block; padding: 0.25em 0.5em; margin: 0 0.25em; line-height: 16px /* icons */; background: bottom center repeat-x; border: solid 1px transparent; -moz-border-radius-topleft: 0.5em; -moz-border-radius-topright: 0.5em; -webkit-border-top-left-radius: 0.5em; -webkit-border-top-right-radius: 0.5em; }
.tab-bar li a:hover { border-color: #809ccf; border-bottom-color: #446bb5; }
.tab-bar li a.you-are-here { border-color: #446bb5; border-bottom-color: #c0d2ed; background-image: url(/images/bits/tab-highlight.png); background-color: #c0d2ed; }
.tab-bar li img { vertical-align: bottom; }

.sub-bar-thing { position: relative; z-index: 0; padding: 0.5em; margin-left: 100px; margin-top: -1px; border-top: 1px solid #446bb5; background: url(/images/bits/tabbar-below.png) top center repeat-x; }


/* User links */
.userlink { position: relative; /* XXX breaks IE somehow */ word-spacing: -0.33em; white-space: nowrap; }
.userlink a { font-weight: bold; }
.userlink a img { border: none; vertical-align: bottom; }

.userlink-popup { position: absolute; width: 15em; padding: 0.5em; left: 0; z-index: 100; text-align: left; color: black; background: white; background: rgba(255, 255, 255, 0.9); border: 1px solid black; -moz-border-radius-topright: 1.5em; -webkit-border-top-right-radius: 1.5em; }
.userlink-popup .avatar { float: right; height: 50px; }
.userlink-popup .name { font-weight: bold; }
.userlink-popup .role { font-style: italic; margin-bottom: 0.5em; }
.userlink-popup .rel { }
.userlink-popup .rel-blocked { color: #c00000; }
.userlink-popup .links { clear: right; margin-top: 0.5em; }
.userlink-popup .online { color: white; background-color: rgb(0, 128, 0); background-color: rgba(0, 128, 0, 0.5); font-weight: bold; text-align: center; padding: 0.17em; margin: 0.5em -0.5em -0.5em -0.5em; }
.userlink-popup .offline { color: white; background-color: rgb(128, 0, 0); background-color: rgba(128, 0, 0, 0.5); font-weight: bold; text-align: center; padding: 0.17em; margin: 0.5em -0.5em -0.5em -0.5em; }

/* * * Page layout * * */
#skip-to-content { display: none; }

/* Header */
#header { position: relative; height: 160px; background: #375693; }
#header #banner { position: relative; z-index: 1 /* above shadow */; text-align: center; margin-left: 10%; overflow-x: hidden; }
#header #logo { position: absolute; z-index: 2 /* above banner */; top: 3em; left: 2em; }
#header #css-shadow { position: absolute; top: 160px; height: 32px; left: 0; right: 0; background: url(/images/bits/header-shadow.png) repeat-x; }

#header #user { position: absolute; z-index: 2 /* above banner */; right: 0; top: 0; bottom: 0; margin: 0.5em; padding: 0.5em; width: 22em; line-height: 100%; vertical-align: middle; background: #bdc7db; background: rgba(100%, 100%, 100%, 0.75); }
#header #user #user-links { float: left; width: 10em; }
#header #user #user-links ul + ul { margin-top: 0.25em; padding-top: 0.25em; border-top: 1px solid #2c4387; }
#header #user #user-links ul li { padding: 0.125em; }
#header #user #user-info { margin-left: 10em; width: 12em; text-align: center; }

#search { position: absolute; z-index: 2 /* above banner */; bottom: 0.5em; left: 0.5em; }

#main-navigation { position: absolute; z-index: 2 /* above banner */; top: 0.5em; left: 0.5em; right: 24em /* #user width */; vertical-align: middle; background: #bdc7db; background: rgba(100%, 100%, 100%, 0.75); }
#main-navigation li { float: left; padding: 0.5em; }
#main-navigation li#superpowers { float: right; }

/* Main wrapper */
#content { padding: 2em; margin: 0 2em; background: #dee7f4; }

/* Big banner ad */
#static-footer-ad { margin: 0 2em; padding: 1em; background: #c2d2eb; text-align: center; }

/* Footer */
#footer { margin: 2em 4em; }
#footer #shameless-whoring { float: right; }
#footer p { margin: 0.25em 0; line-height: 1.33; }

#footer #stats { margin-top: 1em; }
#footer #stats #stats-bar { float: left /* shrinkwrap */; height: 0.5em; max-width: 100%; overflow: hidden; border: 1px solid black; }
#footer #stats #stats-bar-python { float: left; height: 100%; background: #ffb521; }
#footer #stats #stats-bar-sql { float: left; height: 100%; background: #1c799b; }

#footer #query-log { margin: 1em; }
#footer #query-log th { font-weight: bold; text-align: center; }
#footer #query-log td { font-family: monospace; padding: 0.33em; line-height: 1.2; }
#footer #query-log tr:hover { outline: 2px solid darkgray; background: white; }



/* * * Big but not-global page parts * * */

/* User pages header */
#user-header { position: relative;  margin-bottom: 2em; }
#user-header:after { content: 'float clear'; display: block; height: 0; clear: both; visibility: hidden; }
#user-header .avatar { float: left; margin-right: 0.5em; }
#user-header #user-header-name { margin: 0.22em; }
#user-header #user-header-name #user-header-name-handle { font-size: 1.5em; font-weight: bold; }
#user-header #user-header-name .button { margin-left: 1em; vertical-align: bottom; }
#user-header #user-header-actions { float: right; }
#user-header .tab-bar { position: relative; z-index: 1; padding-left: 0.5em; margin-left: -100px; margin-top: 0.75em; }



/* * * Gallery * * */
input.tag-filter { padding-left: 24px; background-image: url(/images/icons/textbox-tags.png); background-position: 0.25em center; background-repeat: no-repeat; }

/* Single row of featured/recent submissions */
/* CONFIG: gallery.thumbnail_size */
.thumbnail-grid { margin: 0.5em 0; }
.thumbnail-grid li { vertical-align: top; display: inline-block; margin: 1em; width: 122px; text-align: center; }
.thumbnail-grid li .thumbnail { display: block; overflow: hidden; height: 122px; width: 122px; padding-bottom: 0.5em; line-height: 122px; vertical-align: middle; }
.thumbnail-grid li .title { font-weight: normal; }
.thumbnail-grid li a { display: block; }
.thumbnail-grid li a img { border: 1px solid transparent; }
.thumbnail-grid li a:hover img { border-color: #b56f44; }

/* Individual submission view -- just some extra bits really */
.submission-content { margin: 1em 0; text-align: center; }

.basic-box .metadata { float: right; width: 30%; padding: 1em; background: #c0d2ed; -moz-border-radius: 1em; }


/* * * User settings * * */

/* User relationship table */
table.relationships { width: auto; }
table.relationships thead th { width: 8em; vertical-align: bottom; text-align: center; font-weight: bold; }
table.relationships tbody td { font-size: 1.2em; line-height: 1em; text-align: center; }
table.relationships tr.addition { background-color: #c2d2eb; }


/* * * User pages * * */

/* Featured/recent submissions on recent page */
.latest-submission .halfview { margin: 0.5em 0; text-align: center; }
.latest-submission .description { margin: 0.33em 0; }
.latest-journal .admin,
.latest-submission .admin { float: right; }

/* Single row of featured/recent submissions */
/* CONFIG: gallery.thumbnail_size */
.thumbnail-row { height: 122px; overflow: hidden; margin: 1em; padding-top: 1em; border-top: 1px solid #446bb5; }
.thumbnail-row li { float: left; height: 122px; width: 122px; padding: 0 0.5em; line-height: 118px; }
.thumbnail-row li a { display: block; height: 122px; width: 122px; padding: 0 0.5em; margin: 0 -0.5em; text-align: center; }
.thumbnail-row li a img { border: 1px solid transparent; }
.thumbnail-row li a:hover img { border-color: #b56f44; }

/* List of recent journal entries */
.recent-journals { margin-top: 1em; padding-top: 0.33em; border-top: 1px solid #446bb5; }
.recent-journals li { clear: right; overflow: auto; }
.recent-journals li:hover { background-color: #ecf2fb; }
.recent-journals li .timestamp { float: right; padding: 0.33em; }
.recent-journals li .title a { display: block; padding: 0.33em; }

/* Shoutbox */
.shoutbox { overflow: hidden /* new float context */; }
.shoutbox li { clear: left; margin-top: 1em; }
.shoutbox li:after { content: 'float clear'; display: block; height: 0; visibility: hidden; clear: both; }
.shoutbox li .avatar img { float: left; max-width: 50px; margin-right: 0.5em; }
.shoutbox li .header { padding: 0.33em; background: #c0d2ed; }
.shoutbox li .header .timestamp { margin-left: 1em; }
.shoutbox li .message { margin: 0.5em 0; }


/* * * Generic messages * * */
.message { padding: 0.5em; line-height: 1.33; text-align: justify; }

.entry { overflow: auto /* new float context */; }
.entry + .entry { margin-top: 1em; }
.entry .header { overflow: auto /* new float context */; padding: 0.67em; background-color: #c0d2ed; }
.entry .header .avatar { float: left; margin-right: 0.67em; }
.entry .actions { margin-top: 1em; }
.entry .actions.admin { float: right; }
.entry .actions.inline li + li:before { content: ''; }

/* Comments */
/* Note that links are .micro-linkbar */
.comment { position: relative; }
.comment + .comment { margin-top: 1em; }
.comment:after { content: 'float clear'; display: block; height: 0; visibility: hidden; clear: both; }
.comment .header { position: relative; padding: 0.33em; background-color: #c0d2ed; }
.comment .header .author { float: left; margin: -0.33em; margin-right: 0.33em; padding: 4px; padding-top: 0.33em; background-color: #c0d2ed; text-align: center; }
.comment .header .author .avatar { width: 100px; }
.comment .header .title { font-size: 1.33em; font-weight: bold; }
.comment .header .title .notitle { font-style: italic; font-weight: normal; }
.comment .header .date { margin-top: 0.25em; font-size: 0.8em; }
.comment .message { margin-left: 108px; padding-left: 0.5em; }
.comment .actions { position: absolute; top: 0.5em; right: 0.5em; }
.comment .actions.inline li + li:before { content: ''; }


/* TEMPORARY DEBUG STUFF */
#ads { display: none; }
xxx.TODO { outline: 1px dashed darkred; }

