* {
    margin: 0;
    padding: 0;
    border: 0;
}

body {
    width: 95%;
    margin: 0 auto;
    background: #739cbe;
}

.small
{
    font-size: small;
}

/* Header CSS */

#user_header {
    background: #d4dce8;
    margin: .5% 0;
    height: 1.2em;
    border: 5px solid #d4dce8;
    -moz-border-radius: 5px;
}

#welcome {
    width: 40%;
    float: left;
    text-align: left;
}

#login_header {
    width: 60%;
    float: right;
    text-align: right;
}

#message_header {
    width: 60%;
    float: right;
    text-align: right;
}

#nav_header {
    clear: both;
    background: #d4dce8;
    height: 58px;
    border: 5px solid #d4dce8;
    -moz-border-radius: 5px;
}

#logo {
    width: 20%;
    float: left;
}

#nav_bar {
    width: 80%;
    float: left;
}

#nav {
    width: 80%;
    float: left;
    margin: 0 auto;
}

#nav ul {
    width: 80%;
    list-style-type: none;
    margin: 0 auto;
}

#nav ul li {
    display: inline;
    padding: 0;
}

#search {
    width: 80%;
    margin: 0 auto;
}

#search input {
    display: inline;
}

#control_panels {
    width: 13%;
    float: right;
    list-style-type: none;
}

#control_panels li {
    font-size: 80%;
    display: block;
}

#banner_ad {
    width: 50%;
    margin: .5% auto 0 auto;
    background: #d4dce8;
    text-align: center;
    border: 5px solid #d4dce8;
    -moz-border-radius: 5px;
}

#banner_ad img {
    width: 728px;
    margin: 0 auto;
    display: inline;
}

#content {
    clear:both;
}

/* End Header CSS */

/* Main Page CSS */

#main_page {
    width: 95%;
    background: #d4dce8;
    margin: .5% auto 0;
}

#recent {
    background: #d4dce8;
    width: 60%;
    float: left;
}

#recent_work {
    height: 140px;
}

.work {
    margin: 10px;
    display: inline;
}

.work img {
    border: 5px solid #739cbe;
}
/* End Main Page CSS */

div.denied
{
    background: #FFDDDD;
    margin: 10px 25%;
    border: 2px solid red;
    padding: 5px;
    text-align: center;
}

/* Start News */
#news_page {.news_story
{
    background: #d4dce8;
    margin: 10px;
    padding: 10px;
}


    width: 95%;
    /* background: #d4dce8; */
    margin: .5% auto 0;
}

#news {
    background: #b2bac6;
    width: 40%;
    float: right;
}

.news_story
{
    background: #d4dce8;
    margin: 10px;
    padding: 10px;
}

.news_story_deleted
{
    background: #aaaaaa;
    margin: 10px;
    padding: 10px;
}

.news_admin_bottom
{
    background: #aabbdd;
    font-size: small;
    margin: 10px;
    margin-top: -10px;
    border-top: 1px solid black;
    padding: 5px;
}

.news_admin
{
    background: #aabbdd;
    font-size: small;
    margin: 10px;
    border: 1px solid black;
    padding: 5px;
}

span.checkbox_text
{
    padding-right: 0.5em;
}

#news_post
{
    font-size: small;
    font-weight: bold;
    margin: 10px;
    padding: 5px;
}

.news_header
{
    margin-bottom: 5px;
    padding-bottom: 5px;
    border-bottom: 1px solid black;
}

.news_headline
{
    font-weight: bold;
}

.news_author
{
    font-size: small;
}

.news_date
{
    font-size: small;
}

div.news_form
{
    font-size: small;
    font-weight: bold;
    padding-bottom: 5px;
    margin-bottom: 5px;
    border-bottom: solid 1px gray;
}
/* End News */

/* Start User Page CSS */
#user_tabbar {
    margin: 10px 0;
}

.user_tab {
    display: inline;
    background-color: white;
    padding: 5px;
    border: 5px solid #d4dce8;
    -moz-border-radius: 5px;
}

.user_tab#selected_tab {
    display: inline;
    background-color: #c0c0c0;
    border-top: 1px solid #919BAD;
    border-left: 1px solid #919BAD;
    border-right: 1px solid #919BAD;
    padding: 4px;
}

/* Admin controls */

#admin_menu {
    background: #d4dce8;
    padding: 0.33em;
    margin: 0.5em 0;
    -moz-border-radius: 5px;
}
#admin_menu li {
    display: inline;
}

/* Global "widgets" */

/* Form layout with <dl> */
dl.standard-form dt {
    float: left;
    position: relative;
    z-index: 2;
    width: 9.75em;
    padding: 0.25em 0 0 0.25em;
    line-height: 150%;
    font-style: italic;
}
dl.standard-form dt:after {
    content: ':';
}
dl.standard-form dt img {
    vertical-align: middle;
}
dl.standard-form:after,
dl.standard-form dd:after {
    content: 'v';
    display: block;
    clear: left;
    visibility: hidden;
    height: 1px;
    margin-top: -1px;
}
dl.standard-form dd {
    position: relative;
    z-index: 1;
    padding: 0.25em 0 0.25em 10em;
    margin: 0;

    /* IE has a horrible float model */
    /* See http://www.howtocreate.co.uk/wrongWithIE/?chapter=Float+Model */
    ~padding-left: 0.25em;
}

/* Form controls */
input[type="text"],
input[type="password"] {
    padding: 0.17em;
    -moz-border-radius: 0.25em;
}

input[type="submit"],
input[type="reset"],
input[type="button"] {
    cursor: pointer;
}

/* Generic data table */
table.standard_table {
    border-collapse: collapse;
    margin: 0.25em 0;
}
table.standard_table td,
table.standard_table th {
    border: 1px solid black;
    padding: 0.33em;
}
